--swiftversion 6.0
--indent 4
--indentcase false
--trimwhitespace always
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 120
--disable redundantSelf
--enable isEmpty
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable leadingDelimiters
--enable redundantBreak
--enable redundantGet
--enable redundantNilInit
--enable redundantPattern
--enable semicolons
--enable sortImports
--enable spaceAroundComments
--enable spaceAroundOperators
--enable trailingClosures
--enable unusedArguments
--enable void
--exclude .build,.swiftpm
